// color
$white: #ffffff;
$black: #666666;
$gray: #B9B9B9;
$lightGray: #EAEAEF;
$darkGray: #212121;
$gold: #7D6527;
$bg_blue: #CAD4E3;

// breakpoints
$contentCenter: 1140px;
$windowPC: 769px;
$windowSP: 768px;
$widthPrintPC: 1024px;
