---
---
<section id="home__career">
  <div class="js-horizontal__02">
    <div class="home__career">
      <div class="container">
        <h2 class="main__title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">Career</h2>
        <div class="js-horizontalArea__02">
          <ul class="home__career-area js-horizontalArea__item02">
            <li class="home__career-areaItem">
              <div class="home__career-areaYear">〜2011<span class="home__career-areaCompany"></span></div>
              <div class="home__career-areaText">販売員</div>
            </li>
            <li class="home__career-areaItem">
              <div class="home__career-areaYear">2012<span class="home__career-areaCompany">株式会社<br>ECORE</span></div>
              <div class="home__career-areaText">社内案件<br>Webデザイン<br>コーディング</div>
            </li>
            <li class="home__career-areaItem">
              <div class="home__career-areaYear">2013<span class="home__career-areaCompany">株式会社<br>コムデ</span></div>
              <div class="home__career-areaText">受託案件<br>コーディング</div>
            </li>
            <li class="home__career-areaItem">
              <div class="home__career-areaYear">2014<span class="home__career-areaCompany">フリーランス</span></div>
              <div class="home__career-areaText">受託案件<br>Webデザイン<br>コーディング</div>
            </li>
            <li class="home__career-areaItem">
              <div class="home__career-areaYear">2018<span class="home__career-areaCompany">株式会社<br>デジリード</span></div>
              <div class="home__career-areaText">受託案件<br>コーディング</div>
            </li>
            <li class="home__career-areaItem">
              <div class="home__career-areaYear">2019<span class="home__career-areaCompany">株式会社<br>コムデ</span></div>
              <div class="home__career-areaText">受託案件<br>コーディング<br>プロジェクトマネージャー<br>ディレクション</div>
            </li>
            <li class="home__career-areaItem">
              <div class="home__career-areaYear">2022<span class="home__career-areaCompany">株式会社<br>ニュートラルワークス</span></div>
              <div class="home__career-areaText">在籍中</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
