---
const careerItem = [
  { yaer: `〜2011`, company: ``, work: `販売員` },
  { yaer: `2012`, company: `株式会社<br>ECORE`, work: `社内案件<br>Webデザイン<br>コーディング` },
  { yaer: `2013`, company: `株式会社<br>コムデ`, work: `受託案件<br>コーディング` },
  { yaer: `2014`, company: `フリーランス`, work: `受託案件<br>Webデザイン<br>コーディング` },
  { yaer: `2018`, company: `株式会社<br>デジリード`, work: `受託案件<br>コーディング` },
  { yaer: `2019`, company: `株式会社<br>コムデ`, work: `受託案件<br>コーディング<br>ディレクション補助` },
  { yaer: `2022`, company: `在籍中<br>株式会社<br>ニュートラルワークス`, work: `受託案件<br>コーディング<br>ディレクション補助` },
];

---
<section id="home__career">
  <div class="js-horizontal__02">
    <div class="home__career">
      <div class="container">
        <h2 class="main__title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">Career</h2>
        <div class="js-horizontalArea__02">
          <ul class="home__career-area js-horizontalArea__item02">
            {
              careerItem.map(item => (
              <li class="home__career-areaItem">
                <div class="home__career-areaYear">{item.yaer}
                  <span class="home__career-areaCompany" set:html={item.company}></span>
                </div>
                <div class="home__career-areaText" set:html={item.work}>
                </div>
              </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
