<footer class="siteFooter">
  <section class="container">
    <p class="copyrights">&copy; EMI NIHONYANAGI Portfolio | 2022</p>
  </section>
</footer>
<!-- Scripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"
></script>
<script src="/_assets/lib/locomotive-scroll/locomotive-scroll.min.js" is:inline
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.4/vivus.min.js"
></script>
<script src="/_assets/js/bundle.js" is:inline></script>
