---
// const baseUrl = import.meta.env.BASE_URL || '/';

---
<footer class="siteFooter">
  <section class="container">
    <p class="copyrights">&copy; EMI NIHONYANAGI Portfolio | 2022</p>
  </section>
</footer>
<!-- Scripts-->
<script src=`@assets/js/index.ts`></script>
