---
const navMenu = [
  { href: '/', name: "home" },
  { href: '/#home__portfolio', name: "portfolio" },
  { href: '/#home__profile', name: "profile" },
  { href: '/#home__career', name: "career" },
  { href: '/#home__skill', name: "skill" },
  { href: '/#home__tool', name: "tool" },
];
---
<header class="siteHeader">
  <section class="container">
    <div class="siteHeader__button js-btn">
      <span class="siteHeader__button-text"></span>
    </div>
    <nav class="siteHeader__nav">
      <ul class="siteHeader__navList">
        {
          navMenu.map(nav => (
            <li class="siteHeader__navList-item">
              <a href={nav.href}>
                {nav.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </section>
</header>
