<header class="siteHeader">
  <section class="container">
    <div class="siteHeader__button js-btn">
      <span class="siteHeader__button-text"></span>
    </div>
    <nav class="siteHeader__nav">
      <ul class="siteHeader__navList">
        <li class="siteHeader__navList-item"><a href="undefined/">home</a></li>
        <li class="siteHeader__navList-item">
          <a href="undefined/#home__portfolio">portfolio</a>
        </li>
        <li class="siteHeader__navList-item">
          <a href="undefined/#home__profile">profile</a>
        </li>
        <li class="siteHeader__navList-item">
          <a href="undefined/#home__career">career</a>
        </li>
        <li class="siteHeader__navList-item">
          <a href="undefined/#home__skill">skill</a>
        </li>
        <li class="siteHeader__navList-item">
          <a href="undefined/#home__tool">tool</a>
        </li>
      </ul>
    </nav>
  </section>
</header>
