---
---
<section class="home__profile" id="home__profile">
  <div class="home__profile-container container">
    <figure class="home__profile-thum wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s"><img src="./assets/images/top/profile_bg.png" alt=""></figure>
    <div class="home__profile-text">
      <h2 class="main__title js-main__title">Profile</h2>
      <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
        <p class="main__text">2012年より主に受託案件を中心に、Web制作会社、フリーランスにて制作経験を積む。</p>
        <p class="main__text">WordPressカスタマイズ・本体＋プラグインアップデート・新規構築・運用等の経験が豊富です。</p>
        <p class="main__text">クライアント様のヒアリングを行い、コミュニケーションをとりながら進行し、運用しやすい構築。</p>
        <p class="main__text">構築については、ライブラリに依存しない構築を心がけております。</p>
        <p class="main__text">新人教育担当、コードレビュー、外注先への指示出し等の経験が多く、ディレクター補佐・進行管理・マニュアル作成・デバッグなど、円滑なプロジェクト進行をするため臨機応変に対応いたします。</p>
      </div>
    </div>
  </div>
  <div class="home__profile-slide container">
    <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
      <h3 class="home__profile-slideTitle">新人教育用に作成した資料</h3>
      <p class="main__text">新人教育方法がドキュメント形式だったため、内容が伝わりにくい状態であり、見直しが必要であると感じました。基礎的な画像の書き出し方法・マークアップ方法・セルフチェック方法などをまとめました。</p>
      <div class="home__profile-slideItem">
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQzBDMkCTRa1ZhdJbjJYydir72NDY0u3fAKHuZPVzNSWh92dtzRkqv7vVg7ObviJA/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        <div class="home__profile-slideNotes">※ slideが読みにくい方は<a href="https://docs.google.com/presentation/d/1Of7ciQ65N-SaDFoiQKfynV2NmdXbH52F/edit?usp=sharing&amp;ouid=101045477584921854123&amp;rtpof=true&amp;sd=true" target="_blank"> こちらのリンク</a>からご覧ください</div>
      </div>
    </div>
    <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
      <h3 class="home__profile-slideTitle"> Wordpressの初級・中級者用に作成した資料</h3>
      <p class="main__text">一緒に働く仲間に何か残せないかと考えた時に、社内で私がWordpressの知見豊富な存在でしたので、今まで培ってきた経験から、詰まりやすい箇所・構築する上で必要な知識を仲間に役立てればと思い作成しました。引用ばかりですが、仲間への愛情をたっぷり込めて作成しました。</p>
      <div class="home__profile-slideItem"><iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQZJDTTR90UXqs2bnob-IPdz9pAhLj8ML1jF8NVYiXxopJPicDiERyDbW5Tv4PLeg/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        <div class="home__profile-slideNotes">※ slideが読みにくい方は<a href="https://docs.google.com/presentation/d/1QQtYgNV-r1Xw8VCd2w6HeT_ALa6jZ_KO/edit?usp=sharing&amp;ouid=101045477584921854123&amp;rtpof=true&amp;sd=true" target="_blank"> こちらのリンク</a>からご覧ください</div>
      </div>
    </div>
  </div>
</section>
