/*====================================================================
siteFooter
====================================================================*/
.siteFooter {
  margin-top: 5rem;
  background: rgb(202,212,227);
  padding: 2rem 0;
  text-align: right;
  @include u-mqMin {
    margin-top: 10rem;
    padding: 4rem 0;
  }
}
